name: Mirror main branch to public repo

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  mirror:
    runs-on: ubuntu-latest
    if: ${{ vars.DO_MIRROR == 'yes' }}

    permissions:
      contents: read

    steps:
      - id: checkout-main
        name: Checkout all of the main branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          repository: ${{ github.repository }}
          path: source
          fetch-depth: 0
          fetch-tags: 0
          persist-credentials: false

      - id: checkout-remote
        name: Check out all of the remote's main branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          repository: ${{ vars.MIRROR_DESTINATION }}
          ref: main
          path: destination
          fetch-depth: 0
          fetch-tags: 0
          ssh-key: ${{ secrets.MIRROR_PRIVKEY }}

      - id: transfer-commits
        name: Transfer commits from main to destination
        run: |
          cd destination
          git remote add source ../source
          git fetch source
          git merge --ff-only source/main
          git remote rm source

      - id: shortlog
        name: Display log of commits to push
        run: |
          cd destination
          git shortlog origin/main..HEAD

      - id: push-remote
        name: Push commits to remote
        run: |
          cd destination
          git push origin main
